#map {
  width: 600px;
  height: 400px;
}

#title{
  background-color: #FFFF99;
  position: relative;
  padding: 90px;
}

#title div{
  /*width: 400px;*/
  position: absolute;
  top: 50%;
  left: 50%;
  padding:0;
  margin:0;
  transform: translate(-50%, -50%);
  /*height: 100px;*/
  /*padding: 20px;*/
  text-align: center;
}
#title div h1{
  font-size:55px;
}
#title div h4{
  font-size:12px;
}

.centered{
  text-align: center;
}

.input-group{
  display: inline-block;
  width: 33%;
}

.form-control{
  text-align: center;
}

.submit_button{
  width: 30%;
}

.app-info{
  padding:50px;
  margin:0 10%;
}
/*
.vertical-align {
  display: flex;
  flex-direction: row;
}
*/