*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/**********************
***********************
******* Overall *******
***********************
***********************/

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body{
  height:100%;
}

body {
  overflow-x: hidden;
}

.map-container{
  height:100%;
  position:relative;
}

.container-fluid{
  margin:0;
  padding:0;
}

.row{
  /*width:100%;*/
}

.app-store, .logo {
  max-width: 100%;
  height: auto;
}
/**********************
***********************
******* Appview *******
***********************
***********************/

#title{
  background-color: #40E0D0; /*turquoise*/
  position: relative;
  height: 20%;
}

/*
height img 86
pad top and bottom 14
then you get 114 height on the title
*/

#title div{
  /*width: 400px;*/
  position: absolute;
  top: 50%;
  left: 50%;
  padding:0;
  margin:0;
  transform: translate(-50%, -50%);
  /*height: 100px;*/
  /*padding: 20px;*/
  text-align: center;
}
#title div h1{
  font-size:55px;
}

.centered{
  text-align: center;
}

#app, .app{
  height:100%;
}
.content{
  background-image: url("img/city-cars-road-houses.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 80%;
}

/**********************
***********************
******* HomeView ******
***********************
***********************/

/********
** Homeview: Custom forms for homepage
********/
.input-group{
  display: inline-block;
  width: 380px;
}

.form-control{
  text-align: center;
  font-size: 22px;
  height: 44px;
  border-width: 3px;
}

.submit_button{
  width: 240px;
}

.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child>.btn-group:not(:first-child)>.btn, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle{
  border-radius: 10px;
}

/*google autocomplete. Ref: https://google-developers.appspot.com/maps/documentation/javascript/places-autocomplete#style_autocomplete*/
.pac-item, .pac-item-matched{
  /*font-size:18px;*/
  /*color:blue;*/
}
/*******
** Homeview: Custom bottom
********/
.app-info{
  padding:30px 50px;
  margin:0 10% 50px;
  background-color:rgba(256, 256, 256, 0.5);
}


/**********************
***********************
******* MapView *******
***********************
***********************/

#map{
  cursor: pointer;
}
.left-container, .right-container{
  height:inherit;
  padding:0px;
}

.left-container{
  /*overflow: scroll;*/
}

.tool-bar-container{
  width:100%;
  height:60px;
  position:absolute;
  left:0;
  top:0;
  z-index: 999;
}

.right-container{
  position:relative;
  padding-left:15px;
}

.list-container{
  height:100%;
  width:100%;
  overflow:scroll;
  overflow-y: scroll;
  padding-top:60px;
}

#map-container {
  padding:10px;
  height:50%;
}

#map {
  width: 100%;
  height: 100%;
}

.route-container{
  position: absolute;
  background-color: white;
  bottom: 20px;
  right: 20px;
  background-color: #fff;
  z-index: 999;
  opacity: .7;
}

.load-more-container{
  position: absolute;
  background-color: white;
  top: 30px;
  left: 30px;
  background-color: #fff;
  z-index: 999;
  opacity: .7;
}

.next-container{
  position: absolute;
  background-color: pink;
  bottom: 20px;
  left: 20px;
  background-color: #fff;
  z-index: 9999;
  opacity: .7;

  width: 50px;
  height: 50px;
}

.list-item{
  height: 38px;
}

.infobox-wrapper {
    display:none;
}

.infobox {
    border:2px solid black;
    margin-top: 8px;
    background:#333;
    color:#FFF;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    padding: .5em 1em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-shadow:0 -1px #000000;
    -webkit-box-shadow: 0 0  8px #000;
    box-shadow: 0 0 8px #000;
}


/**********************
*** RouteDetailView ***
***********************
***********************/

.route-list{
  background-color: #FFFF99;
}

/**********************
***********************
******* ToolView *******
***********************
***********************/

.tool-bar-container{
  margin:0;
  padding-left:10px;
  background-color: white;
}

.dropdown{
  /*margin-left:28px;*/
  /*padding-top: 10px;*/
  display: inline-block;
}

.dropdown li:hover{
  cursor:pointer;
}

.filter-input{
  padding: 15px;
  display: inline-block;
  border-radius: 30px;
  height:45px;
  width: 190px;
  text-align: center;
  line-height: 16px;
  font-size: 12px;
  font-weight: bold;
  color: #7B8E9B;
}
/**********************
***********************
******* ListView *******
***********************
***********************/
  .react-select-box-container{
    width: 140px;
    margin: 7px 30px;
  }

  .react-select-box-options{

  }


/**********************
******* VenueView *******
***********************/

.detail-info {
  text-align: right;
  color: SlateGray;
}

.avatar {
  padding-top: 5px;
}

.card {
  padding: 10px;
}
.card span {
  display: block;
}
.card:hover{
  cursor:pointer;
}

.title {
  font-size: 18px;
  font-weight: 500;
}

.open {
  color: green;
}

.category {
  font-style: italic;
  color: SlateGray;
}

.closed {
  color: red;
}

